.visually_hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum";
}

a {
	text-decoration: none;
}

.navigation {
	font-size: 17px;
	line-height: 17px;
}

.navigation_list {
	background-color: #32425c;
}

.navigation,
.navigation_list {
	list-style: none;
}

.navigation_list a {
	color: #ffffff;
}

.navigation_list a:hover {
	background-color: #1d2739;
}
